<script type="text/plain" id="gui">
    <div>
        <input type="text" class="gui__fps" readonly>

        <div class="actions gui__actions">
            <div>
                {{=lg('ammo-actions-fireDir/0',' - ', 'ammo-actions-fireDir/1')}}
            </div>
            <div>
                {{=lg('ammo-actions-reload/0',' - ', 'ammo-actions-reload/1')}}
            </div>
        </div>

        <div class="ammo gui__ammo">
            <div class="ammo__person">
                {{=lg('ammo-person', 'char-colon', 'char-nspace')}}
                <span class="ammo__person_count"></span>
            </div>
            <div class="ammo__weapon">
                {{=lg('ammo-weapon', 'char-colon', 'char-nspace')}}
                <span class="ammo__weapon_count">-</span>
            </div>
        </div>
    </div>
</script>